

<section id="bootom">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>About site</h3>
          <p class="ftext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam dolor placeat et delectus deleniti aut sunt minima porro, rerum accusantium nobis mollitia laboriosam ipsum! Quasi perferendis aliquam praesentium.</p>
        </div>
        <div class="col-sm-6 col-md-3 ">
          <h3>Useful links</h3>
          <ul class="ftext unlist">
            <li><a class="fl" href="/">Home</a></li>
            <li>

<a class="fl" href="https://www.worldometers.info/coronavirus/">Covid-19 Statistics</a>

            </li>
            <li><a class="fl" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 ">
          <h3>Follow us</h3>
          <div class="icons">
  <a class="fa fab fa-linkedin fa-icon" aria-hidden="true" href="https://www.linkedin.com/in/pranav-batra-9726251a0/"></a>
    <a class="fa fa-instagram fa-icon" aria-hidden="true" href="https://www.instagram.com/praxnav_18/"></a>
    <a class="fa fa-envelope fa-icon" aria-hidden="true" href="mailto:pbatra449@gmail.com"></a>
  </div>
  <h5>Call us at 961xxxxxx9</h5>
        </div>
      </div>
    </div>

      <p class="copy">© Copyright 2021 | CO-CARE.com</p>

  </footer>

</section>

</body>
</html>
