<%- include('Partials/header'); -%>

<section id="middle">
<div class="container mid">

    <h1>About us</h1>
    <p class="about-text">
      COVID has attacked us since the year 2019.Countless have lost their lives and many disadvantaged elders were left starving due to loss of their livelihood. CO-CARE community are working together to provide oxygen, healthcare infrastructure and humanitarian aid such as food and cash relief to COVID-hit families.
      </p>

</div>

</section>


<%- include('Partials/footer'); -%>
