<%- include('partials/header'); -%>
<section>
  <div class="container htext">
    <h1 class="headingtext">Gift Someone a Life with Small Charity</h1>
    <h3 class="smalltext">Donate, even it is a small one. Let's beat covid-19 together</h3>
  <form class="Dbtn"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Hj4qlteU7dgxJK" async> </script> </form>
  </div>
</section>

<section id="intro">


</section>

<%- include('partials/footer'); -%>
